body{
	font: 16px sans-serif;
}
#header{
	padding-top: 20px;
	height: 50px;
	border: 1px solid black;
	background: #7D87B9;
}
#container{
	margin-top: 50px;
	padding-top: 50px;
}
.main{
	color: black;
}

